<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>show</title>
  </head>
  <style>
    table,
    th,
    td{
      border: 1px solid black;
    }
  </style>
  <body>
    <a href="logout">Logout</a>
    <a href="/dashboard">Go back to the main Dashboard</a>
    {% for x in ideaz %}
    <form class="" action="/dashboard/namelink/{{x.userid}}" method="post">
      <a href="/dashboard/namelink">{{x.userid}}</a></form> says:<input type="text" name="" value="{{x.idea}}">
    {%endfor%}

    <p>People who liked this Post:</p>

    <table>
      <tr>
        <th>Alias</th>
        <th>Name</th>
      </tr>
      {%for x in users%}
      <tr>
        <td>{{x.alias}}</td>
        <td>{{x.name}}</td>
      </tr>
      {%endfor%}
    </table>


  </body>
</html>
